{% extends 'layout.html.twig' %}
{% block content %}
    {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}
    <form method="post">
        <input type="text" name="_username" placeholder="DNI" value="{{ ultimo_usuario }}">
        <input type="password" name="_password" placeholder="Contraseña">
        <button type="submit">Entrar</button>
    </form>
{% endblock %}