{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Eliminar autor</h1>
    <p>¿Seguro que deseas eliminar a {{ autor.nombre }} {{ autor.apellidos }}?</p>

    <form method="post">
        <button type="submit" name="confirmar">Sí, eliminar</button>
    </form>
{% endblock %}

